.product-details
{
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
    
}

.image-slider
{
    width: 500px;
    height: 500px;
    position: relative;
    background-image:url('../img/product\ image\ 1.png');
    background-size: cover;
    box-shadow: -6px 4px 16px -12px #000;
    border-radius: 7px;
}

.product-images
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-size: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-images img
{
    width:100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-images img.active
{
    opacity: 0.5;
}

.details
{
    width: 50%;
    height: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.details .product-brand
{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des
{
    font-size: 22px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price
{
font-weight: 700;
font-size: 30px;    
}

.product-actual-price
{
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount
{
    color: #ff7d7d;
    font-size: 20px;
}


.product-sub-heading
{
    font-size: 30px;
    text-transform: uppercase;
    margin: 33px 0 10px;
    font-weight: 300;
}

.sizeig_box{
    text-align: center;
}
.size-radio-btn
{
    display: inline-block;
    width:80px;
    height: 80px;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
}
.size-radio-btn:hover {
    border: 1px solid #383838;
    background-color: #3838383f;
}

.size-radio-btn.check
{
    background: #383838;
    color: #fff;
    /* margin-left: 20px; */
}
/* .btn
{
    width: 48%;
    padding:20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size:20px;
    cursor: pointer;
    text-transform:capitalize;
    margin: 20px 0;
} */

.cart-btn
{
    margin-right: 2%;
    background: #383838;
    color: #fff;
}

.details-des
{
    padding: 15px 10vw;
    text-transform: capitalize;
    background-color: #f5f5f5;
    width: 826px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow:  -6px 4px 16px -12px #000;;
}
.heading
{
    font-size: 30px;
    margin-bottom:30px;
}

.des
{
    color: #383838;
    line-height: 25px;
    
}
.all_head {
    
}